<footer class="mt-auto mb-0 bg-white d-flex px-4 flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">© 2022 My App</span>
    </div>
  </footer>
