<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 px-3 mb-4 border-bottom bg-white">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <h3 class="">MY APP</h3>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <!-- Nav Links -->
        <li><a href="#" class="nav-link px-2 link-secondary <% if ( title === 'Home' ) { %> text-dark <% } %> ">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary">link</a></li>
        <li><a href="#" class="nav-link px-2 link-secondary">link</a></li>
      <!---->
      </ul>

      <div class="col-md-3 text-end">
        <a type="button" class="text-decoration-none mx-2">Login</a>
        <a type="button" class="text-decoration-none mx-2">Sign-up</a>
      </div>
    </header>
